/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    min-height: 100vh;
}

/* STYLES */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 48px;
}

span {
    display: inline-block;
    background-color: #0b0b0b;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 5px;
    min-width: 60px;
}